/*SELECTOR*/
*{  
    font-family: monospace;
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}
.section{
    width: 1000px;
    margin: auto;
    flex-wrap: wrap;
}
.Titulo{
    color: white;
    font-size: 50px;
    font-family: fantasy;
    text-align: center;
    background-color: yellow;
    background-image: linear-gradient(115deg, #0093E9 0%, #80D0C7 100%);
}
.parrafo{
    text-align: justify;
    font-family: inherit;
}
.fila_1{
    text-align: center;
    background-color: paleturquoise;
    color: navy;
    padding: 15px 0px 0px 0px;
    font-size: 20px;
}
.Subtitulo_1{
    font-size: 20px;
    color: black;
    font-family: fantasy;
    text-align: center;
    background-color: yellow;
}
.Subtitulo_2{
    font-size: 20px;
    color: blue;
    font-family: fantasy;
    text-align: center;
    background-color: yellow;
}
.Subtitulo_3{
    font-size: 20px;
    color: darkgreen;
    font-family: fantasy;
    text-align: center;
    background-color: yellow;
}
.Subtitulo_4{
    font-size: 20px;
    color: darkmagenta;
    font-family: fantasy;
    text-align: center;
    background-color: yellow;
}
.tabla{
    margin: 15px 0px 15px 0px;
}
.Titulo1{
    font-size: 40px;
    color: lavender;
    font-family: fantasy;
    text-align: center;
    background-color: black;
}
.Nombre{
    font-size: 30px;
    color: midnightblue;
    font-family: fantasy;
    text-align: center;
    background-color: greenyellow;
}
header{
    width: 100%;
    height: 60px;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 50px;
    box-sizing: border-box;
    flex-wrap: wrap;
    
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    
    background-color: #0093E9;
    background-image: -webkit-linear-gradient(25deg, #0093E9 0%, #80D0C7 100%);
    background-image: -o-linear-gradient(25deg, #0093E9 0%, #80D0C7 100%);
    background-image: linear-gradient(115deg, #0093E9 0%, #80D0C7 100%);
}
:root{
    --color1: red;
    --color2: white;
    --color3: black;
    --colorTexto: black;
}
.logo{
    color: var(--color2);
    margin: 0px 0px 0px 50px;
}
.nav{
    list-style: none;
    color: var(--color2);
    width: 100px;
    padding-top: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav li{
    background-color: linear-gradient(115deg, #0093E9 0%, #80D0C7 100%);
    margin: 20px 50px 0px 0px;
}
